---
import "@fontsource-variable/inter";

import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
import Background from "@/components/Background.astro";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={Astro.props.description} />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1.0, viewport-fit=cover"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Blank" />
    <link rel="apple-touch-icon" type="image/png" href="/mobile.png" />
    <title>{Astro.props.title}</title>
    <ViewTransitions />
    <meta name="author" content="verdu | verdu@live.com" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={Astro.props.title} />
    <meta property="og:url" content="https://blank.vercel.com" />
    <meta property="og:image" content="/card.jpg" />
    <meta property="og:description" content={Astro.props.description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={Astro.props.title} />
    <meta name="twitter:description" content={Astro.props.description} />
    <meta name="twitter:image" content="/card.jpg" />
    <meta name="twitter:image:alt" content={Astro.props.title} />
  </head>
  <body class="text-balance bg-slate-950 text-slate-100">
    <Header />

    <div class="flex min-h-dvh flex-col items-center overflow-hidden">
      <slot />
    </div>

    <Background />
  </body>
</html>
